.boton1{
    border: 1px solid rgb(5, 5, 5);
    border-radius: 50%;
    background-color: blue;
    display: flex;
    justify-content: center;
    size: 200px;
}

.boton2{


}

.boton3{



}